<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task.io</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css" />

  </head>

  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="/">TASK.IO</a>
        </h1>
        <nav>
          {{#if loggedIn}}
            <a href="/views/dashboard.handlebars">dashboard</a>
            <button id="logout" class="btn-no-style">logout</button>
          {{else}}
            <a href="/views/login.handlebars">login</a>
          {{/if}}
        </nav>
      </header>
      <main>
        {{{body}}}
        <!--placeholder for smaller template that will come later-->
      </main>
      <footer>
        Thanks for visiting!
      </footer>
    </div>
    {{#if loggedIn}}
      <script src="/public/javascript/logout.js"></script>
    {{/if}}
  </body>

</html>