
<div class="form-holder">
<section>
  

  <form class="new-team-form" id="new-team-form">
    <h2 class="team-create">Create New Team</h2>
    <div>
      <label class="team-name" for="team-name">Team Name</label>
      <input type="text" id="team-name" name="team-name" />
    </div>
    <div>
      <label class="description-team" for="team-description">Team Description</label>
      <input id="team-description" name="team-description" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>
</div>

<div class="teams-holder">
{{#if teams.length}}


<section class="teams-section">
  <h2 class="your-teams">Your Teams</h2>
  <div class="columns is-centered"></div>
  <div class="column">
  <ol type="1">
    {{#each teams as |team|}}
    <li>
      {{> team-info team}}
      <p>This team's ID is {{team.id}}</p>
      <a href="/adminHome/edit/{{team.id}}" class="edit-link">Edit Team</a>
    </li>
    {{/each}}
  </ol>
</section>
</div>
{{/if}}
</div>
</div>
</div>

<script src="/javascript/add-team.js"></script>