<ol class="post-list">
  {{#each posts as |post|}} <!--each loops through the array from home-routes, we can assign the variable for clarity-->
  <li>
      {{> post-info post}} <!-- partial-->
  </li>
  {{/each}}
</ol>